# Flask Framework and Extensions
Flask==3.1.0
Flask-Cors==5.0.0

# HTTP Client Library
requests==2.32.3

# Dependencies for Flask
Werkzeug==3.1.3
Jinja2==3.1.4
itsdangerous==2.2.0
MarkupSafe==3.0.2

# Other Libraries
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
urllib3==2.2.3
blinker==1.9.0  # Used for Flask signals (remove if not needed)

# Minimum Python Version: Python >= 3.8